@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Patrick Hand', cursive;
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3em;
  margin: 0.5em;
}

button {
  border: 0;
  border-radius: 10px;
  padding: 0.5em 1.2em;
  font-size: 1.5em;
  background-color: black;
  cursor: pointer;
  color: white;
}

button:hover {
  opacity: 0.7;
  /* Solubility of oxygen */
}

a {
  position: absolute;
  bottom: 5px;
  font-size: 1.2em;
  text-decoration: none;
  color: black
}

u {
  color: rgb(255, 41, 41)
}

img {
  width: 30vw;
  -webkit-box-shadow: 35px 35px 0px 3px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 35px 35px 0px 3px rgba(0, 0, 0, 0.9);
  box-shadow: 35px 35px 0px 3px rgba(0, 0, 0, 0.9);
}